/* .product-main-inf{
    display: flex;
    flex-direction: row;
    width: 100%;
} */

.product-imgs-cont{
    top: 50;
    left: 50;
    margin: auto;
    width: 40%;
    height: fit-content;
}

.product-img-cont{
    width: 100%;
    overflow: hidden;
    border: 2px solid #a50113;
    border-radius: 3px;
    box-sizing: inherit;
    position: relative;
}

.product-img-main{
    width: 100%;
    border-radius: 3px;
    display: block;
    position: relative;
    transition: all 0.03s linear;
    /* top: auto; */
    /* transform: translateY(-100px); */
}

.product-img-cont:hover{
    display: block;
    cursor: zoom-in;

    /* position: absolute; */
}

/* .product-img-main:hover{
    cursor: zoom-in;
} */

/* .product-img-sub-cont-holder{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 5px;
} */

.product-img-sub-cont-holder{
    padding-left: 0;
    list-style: none;
    display: flex;
    max-width: 350px;
    flex-direction: row;
    gap: 5px;
    margin-top: 1rem;
    margin: 5px;
}

.product-img-sub-cont{
    /* object-fit: contain; */
    /* background-color:#fff; */
    max-width: 70px;
    max-height: 70px;
    /* border: 2px solid #a50113; */
    overflow: hidden;
    /* object-fit: cover; */
    /* aspect-ratio: 1; */
    border-radius: 3px;
    transition: all 0.1s linear;
}

.product-img-sub-cont:hover{
    cursor: pointer;
    transition: all 0.1s linear;
}

.product-img-sub-cont-holder .active{
    padding: 5px;
    border:unset;
    opacity: 0.5;
}

.product-img-sub{
    width: 100%;
    height: fit-content;
    transition: .3s all ease-out;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 3px;
}